body {
    background-color: rgb(1, 32, 31);
}

header {
    height: 60px;
    margin-bottom: 0px;
    padding: 10px;
}
h1 {
    color: white;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: underline;
    text-align: center;
    margin-top: 10px;
    
    
}

#calculette{
    background-color: black;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 5px 5px rgb(22, 22, 22);
    width: 300px;
    height: auto;
    margin: auto;
}

.screen{
    padding: 10px;
    height: 30px;
    font-size: 1.8em;
    width: 190px;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
    color: black;
    text-align: right;
    background-color: rgb(198, 237, 255);
    border-radius: 5px;
}

.parent {
    background-color: black;
    display: grid; 
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 5px;
    height: 100%;
    padding: 10px;
   
    }

    .div-c:hover {
        border-radius: 0px;

    }

    .div-c { 
        padding: 20px;
        color: rgb(255, 255, 255);
        font-size: 1.6em;
        font-weight: bold;
        background-color: rgb(80, 66, 155);
        border: 0px solid white;
        text-align: center;
        border-radius: 0px;
        
    }
    
    .div-p {
        padding: 20px;
        color: rgb(255, 255, 255);
        font-size: 1.6em;
        font-weight: bold;
        background-color: rgb(80, 66, 155);
        border: 0px solid white;
        text-align: center;
        
    }
    .div-pourcent {
        padding: 20px;
        color: rgb(255, 255, 255);
        font-size: 1.6em;
        font-weight: bold;
        background-color: rgb(80, 66, 155);
        border: 0px solid white;
        text-align: center;
    }

    .div-divise {
        padding: 20px;
        color: rgb(255, 255, 255);
        font-size: 1.6em;
        font-weight: bold;
        background-color: rgb(80, 66, 155);
        border: 0px solid white;
        text-align: center;
    }

    .div-sept {
        padding: 20px;
        color: rgb(255, 255, 255);
        font-size: 1.6em;
        font-weight: bold;
        background-color: rgb(80, 66, 155);
        border: 0px solid white;
        text-align: center;
    }

    .div-huit {
        padding: 20px;
        color: rgb(255, 255, 255);
        font-size: 1.6em;
        font-weight: bold;
        background-color: rgb(80, 66, 155);
        border: 0px solid white;
        text-align: center;
    }

    .div-neuf {
        padding: 20px;
        color: rgb(255, 255, 255);
        font-size: 1.6em;
        font-weight: bold;
        background-color: rgb(80, 66, 155);
        border: 0px solid white;
        text-align: center;
    }

    .div-multiple {
        padding: 20px;
        color: rgb(255, 255, 255);
        font-size: 1.6em;
        font-weight: bold;
        background-color: rgb(80, 66, 155);
        border: 0px solid white;
        text-align: center;
    }

    .div-quatre {
        padding: 20px;
        color: rgb(255, 255, 255);
        font-size: 1.6em;
        font-weight: bold;
        background-color: rgb(80, 66, 155);
        border: 0px solid white;
        text-align: center;
    }

    .div-cinq {
        padding: 20px;
        color: rgb(255, 255, 255);
        font-size: 1.6em;
        font-weight: bold;
        background-color: rgb(80, 66, 155);
        border: 0px solid white;
        text-align: center;
    }

    .div-six {
        padding: 20px;
        color: rgb(255, 255, 255);
        font-size: 1.6em;
        font-weight: bold;
        background-color: rgb(80, 66, 155);
        border: 0px solid white;
        text-align: center;
    }

    .div-moins {
        padding: 20px;
        color: rgb(255, 255, 255);
        font-size: 1.6em;
        font-weight: bold;
        background-color: rgb(80, 66, 155);
        border: 0px solid white;
        text-align: center;
    }

    .div-un {
        padding: 20px;
        color: rgb(255, 255, 255);
        font-size: 1.6em;
        font-weight: bold;
        background-color: rgb(80, 66, 155);
        border: 0px solid white;
        text-align: center;
    }

    .div-deux {
        padding: 20px;
        color: rgb(255, 255, 255);
        font-size: 1.6em;
        font-weight: bold;
        background-color: rgb(80, 66, 155);
        border: 0px solid white;
        text-align: center;
    }

    .div-trois {
        padding: 20px;
        color: rgb(255, 255, 255);
        font-size: 1.6em;
        font-weight: bold;
        background-color: rgb(80, 66, 155);
        border: 0px solid white;
        text-align: center;
    }

    .div-addition {
        padding: 20px;
        color: rgb(255, 255, 255);
        font-size: 1.6em;
        font-weight: bold;
        background-color: rgb(80, 66, 155);
        border: 0px solid white;
        text-align: center;
    }

    .div-plusmoins {
        padding: 20px;
        color: rgb(255, 255, 255);
        font-size: 1.6em;
        font-weight: bold;
        background-color: rgb(80, 66, 155);
        border: 0px solid white;
        text-align: center;
    }

    .div-zero {
        padding: 20px;
        color: rgb(255, 255, 255);
        font-size: 1.6em;
        font-weight: bold;
        background-color: rgb(80, 66, 155);
        border: 0px solid white;
        text-align: center;
    }

    .div-virgule {
        padding: 20px;
        color: rgb(255, 255, 255);
        font-size: 1.6em;
        font-weight: bold;
        background-color: rgb(80, 66, 155);
        border: 0px solid white;
        text-align: center;
    }

    .div-equal {
        padding: 20px;
        color: rgb(255, 255, 255);
        font-size: 1.6em;
        font-weight: bold;
        background-color: rgb(80, 66, 155);
        border: 0px solid white;
        text-align: center;
    }
